<!-- Login Form -->
<div class="reg-form col-lg-6 offset-lg-3">
  <div class="row justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class="mt-3 text-center">Log in</h2>
      <div class="field mt-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field mt-4">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <small><%= f.label :remember_me %></small>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary mb-4 form-control" %>
      </div>
      <div class="mt-4 mb-4">
      <small><%= render "devise/shared/links" %></small>
      </div>
      <% end %>
    </div>
</div>
