<h1 class="text-center">Add a pooch <i class="fas fa-paw"></i> </h1>

<div class="container">
  <%= simple_form_for @pooch do |f| %>
    <%if @pooch.photo.attached?%>
      <%= cl_image_tag @pooch.photo.key, crop: :thumb%>
    <%end%>
    <%= f.input :name, required: true, input_html: { maxlength: 10 } %>
    <%= f.input :caption %>
    <%= f.input :photo, class: "btn btn-primary", as: :file, required: true %>
    <span>
      <%= f.input :published, :label => "Public Post", :as => :boolean, :input_html => { :checked => "Public Pooch" }%>
    </span>
      <%= f.button :submit, class: "btn btn-primary mb-4" %>
  <% end %>
</div>
