<!DOCTYPE html>
<html>
  <head>
    <title>PoochStagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/45450abdc4.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <figure>
          <%= image_tag "poochStagram.png", class: "logo", alt: "PoochStagram Logo"%>
        </figure>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link"%>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <% if user_signed_in? %>
            <span class = "nav-item active">
            <%= link_to 'Add new Pooch', new_pooch_path, class: "btn btn-primary"%>
            <%= link_to('Logout', destroy_user_session_path, class: "btn btn-primary", method: :delete) %>
            </span>
          <% else %>
            <span class = "nav-item active">
            <%= link_to('Login', new_user_session_path, class: "btn btn-primary") %>
            </span>
          <% end %>
        </form>
      </div>
    </nav>
    <div class="container-fluid pt-5">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
          <%= yield %>
    </div>
  </body>
</html>
